# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

run/
logs/
holder/
common/src/main/java/de
common/src/main/java/org/mtr/mapping/mixin
fabric/*/src/test/java/org/mtr/mapping/test/SearchForMappedMethodsTest.java
forge/*/src/test/java/org/mtr/mapping/test/SearchForMappedMethodsTest.java
fabric/*/src/test/java/org/mtr/mapping/test/ClassScannerBase.java
forge/*/src/test/java/org/mtr/mapping/test/ClassScannerBase.java
fabric/*/src/test/java/org/mtr/mapping/test/ClassScannerCreateMaps.java
forge/*/src/test/java/org/mtr/mapping/test/ClassScannerCreateMaps.java
fabric/*/src/test/java/org/mtr/mapping/test/ClassScannerGenerateHolders.java
forge/*/src/test/java/org/mtr/mapping/test/ClassScannerGenerateHolders.java
fabric/*/src/test/java/org/mtr/mapping/test/MethodMaps.java
forge/*/src/test/java/org/mtr/mapping/test/MethodMaps.java
latest.log
forge*changelog.txt
