name: Build
on: [ pull_request, push, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@main
      - name: Setup JDK 17
        uses: actions/setup-java@main
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Scan Minecraft classes
        run: ./gradlew test -x common:test --continue -Pgenerate=dryRun
        continue-on-error: true
      - name: Generate holders
        run: ./gradlew test -x common:test --continue -Pgenerate=normal
        continue-on-error: true
      - name: Search for mapped methods
        run: ./gradlew test -x common:test
      - name: Analyze test results
        run: ./gradlew common:test
      - name: Build common
        run: ./gradlew common:build -x test
      - name: Build Fabric 1.16.5
        run: ./gradlew fabric:1.16.5-mapping:build -x test
      - name: Build Fabric 1.17.1
        run: ./gradlew fabric:1.17.1-mapping:build -x test
      - name: Build Fabric 1.18.2
        run: ./gradlew fabric:1.18.2-mapping:build -x test
      - name: Build Fabric 1.19.2
        run: ./gradlew fabric:1.19.2-mapping:build -x test
      - name: Build Fabric 1.19.4
        run: ./gradlew fabric:1.19.4-mapping:build -x test
      - name: Build Fabric 1.20.1
        run: ./gradlew fabric:1.20.1-mapping:build -x test
      - name: Build Fabric 1.20.4
        run: ./gradlew fabric:1.20.4-mapping:build -x test
      - name: Build Forge 1.16.5
        run: ./gradlew forge:1.16.5-mapping:build -x test
      - name: Build Forge 1.17.1
        run: ./gradlew forge:1.17.1-mapping:build -x test
      - name: Build Forge 1.18.2
        run: ./gradlew forge:1.18.2-mapping:build -x test
      - name: Build Forge 1.19.2
        run: ./gradlew forge:1.19.2-mapping:build -x test
      - name: Build Forge 1.19.4
        run: ./gradlew forge:1.19.4-mapping:build -x test
      - name: Build Forge 1.20.1
        run: ./gradlew forge:1.20.1-mapping:build -x test
      - name: Build Forge 1.20.4
        run: ./gradlew forge:1.20.4-mapping:build -x test
      - name: Capture build artifacts
        uses: actions/upload-artifact@main
        with:
          name: Mappings
          path: build/release/
      - name: Capture consolidated Minecraft methods
        uses: actions/upload-artifact@main
        with:
          name: Minecraft Methods
          path: build/libraryMethods/
